<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.property</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>

    <bean id="client" class="com.epam.spring.beans.Client"
          c:id="${id}"
          c:fullName="${name}"
          p:greeting="#{'Hello ' +
            ( systemEnvironment['USER']) }"/>

    <bean id="app" class="com.epam.spring.App">
        <constructor-arg ref="client" />
        <constructor-arg value="#{ T(com.epam.spring.beans.Event).isDay(8,17) ?
            cacheFileLogger : consoleEventLogger }" />
        <constructor-arg ref="loggerMap"/>
        <property name="startupMessage" value="#{'Hello user ' +
            ( systemEnvironment['USER'] ) }"/>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean id="event" class="com.epam.spring.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

</beans>