<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="com.epam.spring.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Dow"/>
    </bean>

    <bean id="eventLogger"
          class="com.epam.spring.logger.ConsoleEventLogger"/>

    <bean id="app" class="com.epam.spring.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

</beans>